.header {
    display         : flex;
    align-items     : center;
    justify-content : space-around;
    height          : 70px;
    background-color: #000;
    box-shadow      : 5px 5px 15px #00000080;
    position        : fixed;
    width           : 100%;
    right           : 0;
    top             : 0;
}

.header .logo {
    color         : #000;
    font-size     : 2.5em;
    letter-spacing: 1px;
    font-weight   : 800;
}

.header .logo .color1 a {
    color          : #866ae4;
    text-shadow    : 5px 5px 4px #866ae490;
    text-decoration: none;
}

.header .logo .color2 a {
    color          : #a72121;
    text-shadow    : 5px 5px 4px #da2d2d90;
    text-decoration: none;
}

.header .menu {
    display        : flex;
    align-items    : center;
    justify-content: center;
    gap            : 50px
}

.header .menu a {
    text-decoration: none;
    color          : #fff;
    font-size      : 1.5em;
    font-weight    : 700;
}

.header .menu a:hover {
    color      : #a72121;
    transform  : scale(1.1);
    text-shadow: 5px 5px 4px #a7212190;
    transition : all .2s ease-in-out;
}